.login-page {
  background-image: url('../../images/backgroundpic.jpg');
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    align-items: center;
    display: flex;
    display: grid;
  }

  .side-buttons {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;

    button {
      margin: 8px;
    }

    .login-button {
      margin-right: 20px;
    }
  }
}
