.login-page {
  background-image: url('../../images/headerBackground.jpg');
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    border-radius: 5px;

    color: #dfebea;
    background-color: $darkblue;

    // padding-top: 4px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 4px;

    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .form-input {
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #dfebea;

    padding: 8px;

    input {
      border: 1px solid $darkblue;
    }
  }
}
