.page {
  background-image: url('../../images/balloonsignup.jpg');
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: seashell;
    border: 1px solid red;
  }

  .form-input {
    color: seashell;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px;

    input {
      border: 1px solid $darkblue;
    }
  }
}
