@import 'bootstrap';
$grey: #ccc8b4;
$mint: #ecf4f3;
$mediumblue: #68b0ab;
$darkblue: #006a71;
$hotpink: #ff7e67;

:root {
  font: 16px / 1;
}

html {
  height: 100%;
}

body {
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  // background-image: url(images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  // background-repeat: no-repeat;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: solid 1px lightgrey;

  position: sticky;
  top: 0;
  background-color: white;
  opacity: 0.9;

  width: 100vw;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 400px;
  }

  .navItems {
    border: solid 1px lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .topNav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
  }

  .landingpage {
    color: $darkblue;
  }

  .form-group {
    color: $darkblue;
  }

  .userInfo {
    display: flex;
    align-items: right;
  }
}
