.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  position: sticky;
  top: 0;
  opacity: 0.9;

  width: 100vw;

  background-image: url(../../images/headerBackground.jpg);
  background-size: cover;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 150px;
  }

  .navItems {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .topNav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
  }
}
